.todolist {
  margin-top: 20px;
}

.list-group-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding: .75rem 3rem .75rem 1.25rem;
}

.list-group-item.completed {
  background-color: #e1ffe1;
}

.list-group-item.completed span {
  text-decoration: line-through;
}

.icon-check {
  margin-right: 10px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 100%;
  cursor: pointer;
}

.icon-remove {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 100%;
  position: absolute;
  top: calc(50% - 12px);
  right: 10px;
  cursor: pointer;
}

.icon-remove:hover {
  background-color: rgba(0,0,0,.125);
}

.icon-check:hover,
.list-group-item.completed .icon-check {
  background-color: green;
  color: #fff;
}
